<div>
    <h1>Carrito</h1>
    <div>
        <h2>Productos</h2>
        {{#if products}}
            <ul>
                {{#each products}}
                    <li>
                        <h3>{{this.product.title}}</h3>
                        <p>{{this.product.description}}</p>
                        <p>{{this.product.price}}</p>
                        <p>{{this.product.stock}}</p>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No tiene productos</p>
        {{/if}}
    </div>
</div>
